@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #0A3871;
    --fonte-principal:"Inter", sans-serif;
}

body{
    background-image: url(../ASSETS/fundo.jpg);
    background-size: cover;
}

.cabecalho{
    background-color:#D8DFE8;
    opacity: 70%;
    display: flex;
    align-items: center;
    height: 6.25rem;
    justify-content: space-between;
} 

.titulo__cabecalho{
    font-weight: 500;
    font-family: var(--fonte-principal);
    font-size: 2rem;
    color: #0A3871;
}

.conteudo{
    display: flex;
    justify-content: center;
    padding: 1.34rem 0;
}

.textos{
    box-sizing: border-box;
    background-color: #D8DFE8;
    margin: 0px 25% 0px 25%;
    border-radius: 1.5rem;
    justify-content: center;
    text-align:center;
}

.texto__subtitulo{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    color: var(--cor-primaria);
}

.texto__aviso{
    font-size: 0.75rem;
    font-family: var(--fonte-principal);
    text-align: center;
    color: var(--cor-primaria);
}

.digitar__texto{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    background-color: #ffffff;
    justify-content: center;
    gap: 1.5rem;
    border: none; 
    color: #0A3871;
    width: 42.5rem;
    height: 12.5rem;
    text-align:center;
    border-radius: 1.5rem;  
    padding: 1.34rem 0;
    font-weight: 600;
    text-decoration: none;
} 

.botoes{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 0% 0% 1% 0%;
    margin: 0.93rem;
}

.botoes__criptografar{
    background-color: #0A3871;
    gap: 1.5rem;
    border: 0.125rem solid #0A3871;
    color: #FFFFFF;
    width: 20.5rem;
    height: 4.18rem;
    text-align: center;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 1.34rem 0;
    font-weight: 600;
    text-decoration: none
}

.botoes__criptografar:hover{
    background-color: chartreuse;
    cursor:pointer
}

.botoes__descriptografar{
    background-color: #D8DFE8;
    gap: 1.5rem;
    border: 0.125rem solid;
    color: #0A3871;
    width: 20.5rem;
    height: 4.18rem;
    height: 67px; 
    text-align: center;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 1.34rem 0;
    font-weight: 600;
    text-decoration: none
} 

.botoes__descriptografar:hover{
    background-color: chartreuse;
    cursor:pointer
}

.botoes__resposta{
    gap: 1.5rem;
    justify-content: center;
    padding: 0% 0% 1% 0%;
    margin: 0.93rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.texto__resposta{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    background-color: #ffffff;
    background-image: url(../ASSETS/figura-vazio2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;   
    justify-content: center;
    gap: 1.5rem;
    border: none; 
    color: #0A3871;
    width: 42.5rem;
    height: 12.5rem;
    text-align:center;
    border-radius: 1.5rem;
    padding: 1.34rem 0;
    font-weight: 600;
    word-break: break-word;
    text-decoration: none;
}

.subtexto_resposta{
    font-size: 1rem;
}

.botoes__inferiores{
    display: flex;
    gap: 1.5rem;
    padding: 0% 0% 1% 0%;
    margin: 0.93rem;
}

.botoes__copiar{
    background-color: #0A3871;
    gap: 1.5rem;
    border: 0.125rem solid #0A3871;
    color: #FFFFFF;
    width: 20.5rem;
    height: 4.18rem;
    text-align: center;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 1.34rem 0;
    font-weight: 600;
    text-decoration: none
} 

.botoes__copiar:hover{
    background-color: chartreuse;
    cursor:pointer
}

.botoes__inverter{
    background-color: #0A3871;
    gap: 1.5rem;
    border: 0.125rem solid #0A3871;
    color: #FFFFFF;
    width: 20.5rem;
    height: 4.18rem;
    text-align: center;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 1.34rem 0;
    font-weight: 600;
    text-decoration: none
} 

.botoes__inverter:hover{
    background-color: chartreuse;
    cursor:pointer
}

.rodape{
    background-color:#D8DFE8;
    color: var(--cor-primaria);
    opacity: 70%;
    display: flex; 
    justify-content: end;
    margin: 0%;
    padding: 0% 1% 0% 0%;
    height: 6,25rem;    
    align-items: end;
}

.rodape__texto{
    font-weight: 500;
    font-family: var(--fonte-principal);
    font-size: 2rem;
    text-align: end;
}

/* Adaptação a diferentes tamanhos de tela */
 @media (max-width: 750px){
    body{
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    } 

    .cabecalho{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3% 0% 3% 10%;
    }

    .titulo__cabecalho{
        text-align: justify;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
        padding: 0 auto; 
    }

    .conteudo{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:90%;
        margin: 0 auto;
    }

    .textos{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
        padding: 3% 3% 3% 3%;
    }

    .texto__subtitulo{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    .texto__aviso{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    .digitar__texto{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    .botoes{
        gap:1.5rem;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width:100%;
        margin: 0 auto;
    }

    .botoes__criptografar{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    botoes__criptografar:hover{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    .botoes__descriptografar{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    .texto__resposta{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;    
    }

    .subtexto_resposta{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto; 
    }

    .botoes__inferiores{
        gap: 1.5rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin: 0 auto;
        text-align: center;
        margin: 0 auto;
        display: block; 
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    .botoes__copiar{
        gap: 50px;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin: 0 auto;
        text-align: center;
        margin: 0 auto;
        display: block; 
        width: 100%;
        margin: 0 auto;
    }

    .botoes__inverter{
        gap: 50px;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin: 0 auto;
        text-align: center;
        margin: 0 auto;
        display: block; 
        width: 100%;
        margin: 0 auto;
    }

    .rodape{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
    }

    .rodape__texto{
        text-align: center;
        margin: 0 auto;
        display: block;
        width:100%;
        margin: 0 auto;
        word-break: break-all;
    }
}